body, html{
  height:100%;
  margin:0;
  font-size:1em;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
}

.pimg1, .pimg2, .pimg3, .pimg4{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/main.gif');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/2batman.gif');
  min-height:25em;
}

.pimg3{
  background-image:url('../img/walk.gif');
  min-height:25em;
}

.pimg4{
  background-image:url('../img/Group%202_Animated-poster.gif');
  min-height:25em;
}

.pimg5{
  background-image:url('../img/calculator.png');
  min-height:25em;
}

.section{
  text-align:center;
  padding:3.125em 5em;
    background: #333;
    color: white;
}

.section a{
  text-decoration:none;
  font-size:1em;
  color:#ccc;
  display:block;
  transition:0.3s;
    text-align: center;
    width: 100%;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:1.75em;
  letter-spacing:.25em;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#D8BCBC;
  color:#333;
  padding:1.25em;
}

/*navigation styling*/

.burger{
    padding: 1em;
}

#Layer_3{
    padding: 1em;
    float: right;
}

.navbar{
  background-color:#D8BCBC;
  overflow:hidden;
  height:10vh;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:3.75em;
  transition:0.5s;
}

.side-nav a{
    padding-top: 1em;
  text-decoration:none;
  font-size:1em;
  color:#ccc;
  display:block;
  transition:0.3s;
    text-align: center;
    width: 100%;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  font-size:2.25em;
    float: left;
}

/*button styling*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 3vh; 
    right: 3vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #D8BCBC;
    color: #333;
    cursor: pointer;
    padding: 1em;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: .75em;
}

#myBtn:hover {
    background-color: white;
}



/*media queries*/
@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;
  }
}
