body {
    background-image:url('bg-02-01-01.png');
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

#logo {
    width:56.92px;
    height:171.4px;
}

p {
    font-family: Lato light;
    color: white;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    font-family: Lato light;
    color: white;
    text-align: center;
}

a {
    font-family: Lato light;
    color: white;
    text-align: center;
    text-decoration-line: none;
    display: block;
}

.pink {
    display: grid;
    height: 100vh;
    background-color: #D8BCBC;
    grid-column:4;
    grid-template-rows: repeat(3,1fr);
    margin: none;
}

.nested {
    grid-row: 2;
    display: grid;
}