body {
    background-image:url('bg-02-01-01.png');
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

#logo {
    width:56.92px;
    height:171.4px;
}

p {
    font-family: Lato light;
    color: white;
}

h1 {
    font-size: 1.5em;
    font-family: Lato light;
    color: white;
}

a {
    font-family: Lato light;
    color: white;
}

.pink {
    width: 1fr;
    height: 70vh;
    background-color: #D8BCBC;
    grid-column:4;
}